body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
